extends layout.pug

block content
  h1 Login

  ul
    each error in errors || []
      li= error

  form(action='/login' method='POST')
    input(type='hidden' name='_csrf' value=csrfToken)
    p
      label(for='username') Email:
      input(name='username' type='email' required)
    p
      label(for='password') Password:
      input(name='password' type='password' required)
    p
      input(type='submit' value='Login')
